.roulette .player-bets .player-bet .user {
    width: 43.1%;
}

.roulette .player-bets .player-bet .user {
    background: transparent!important;
}

.roulette .player-bets .player-bet .amount {
    background: transparent!important;
}

.roulette .balance-latest {
    box-sizing: initial;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    background: #1a2327;
    height: 70px;
    font-weight: 700;
    font-size: 18px;
    border-top: 15px solid #1c262a;
    border-bottom: 0px solid #ffcc01;
}

.roulette .roulette-wheel-outer {
    position: relative;
    background: rgb(22,22,22);
    background: #1c2529;
    border-bottom: 0px solid #ffcc01;
    padding: 12px;
}

.roulette .controls {
    height: 140px;
    display: -ms-flexbox;
    display: flex;
    background: #1a2327;
    font-size: 16px;
    font-weight: 600;
}

.roulette .controls .amount {
    height: 65px;
}

.roulette .controls .color-select {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    background: #161d20!important;
    border-top: 6px solid #49c373;
    border-bottom: 6px solid #49c373;
}

.roulette .controls .inputs-area {
    width: 70%;
    box-sizing: border-box;
    border-top: 6px solid #49c373;
	padding: 15px 5px;
    border-bottom: 6px solid #49c373;
}

.roulette .controls .play {
    width: 15%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top: 6px solid #49c373;
    background: #161d20!important;
    border-bottom: 6px solid #49c373;
}

.roulette .roulette-wheel-outer {
    position: relative;
    background: rgb(22,22,22);
    background: #1c2529;
    border-bottom: 0px solid #ffcc01;
    padding: 12px;
}

.roulette .controls .buttons .button {
    height: 45px;
    color: #fefefe;
    background: #161d20;
    cursor: pointer;
    width: calc(12.5% - 10px);
}

.roulette .controls .amount input {
    width: calc(100% - 180px);
    height: 40px;
    outline: 0;
    border: 0;
    font-size: 16px;
    font-family: Open Sans,sans-serif;
    color: #fefefe;
    padding-left: 10px;
    background: #161d20;
    font-weight: 700 !important;
}

.roulette .controls .amount label {
    width: 162px;
    text-align: center;
}

label {
    font-weight: 600!important;
}